<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.biubike">
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- Android O之后开启前台服务需要申请该权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Android Q之后，后台定位需要申请该权限 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- 以下不是鹰眼SDK需要的基础权限，可选 -->
    <!-- 用于加快GPS首次定位，可选权限，非必须-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于Android M及以上系统，申请加入忽略电池优化白名单，可选权限，非必须-->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 打开手电筒 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:name=".application.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/bybike"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDefault"
        tools:ignore="GoogleAppIndexingWarning">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="0TZUXgHcH7C4Mk8ePZs6lfx2UeOtZUGM" />

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentStatus">

        </activity>
        <activity
            android:name=".activity.CodeUnlockActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize">

        </activity>

        <activity
            android:name=".activity.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RouteDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyRouteActivity"
            android:screenOrientation="portrait" />


        <receiver
            android:name="com.biubike.service.RouteService$NetWorkReceiver"
            android:label="NetworkConnection">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!--        <service-->
        <!--            android:name="com.baidu.location.f"-->
        <!--            android:enabled="true"-->
        <!--            android:process=":remote" />-->
        <!--        <service android:name="com.biubike.service.RouteService" />-->
        <service
            android:name="com.baidu.trace.LBSTraceService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <provider
            android:name="com.biubike.provider.PoiProvider"
            android:authorities="com.biubike.provider.poiprovider"
            android:exported="true" />
    </application>

</manifest>